/*Início media-queries (copiados do bootstrap.css)*/

/* Extra small devices
Phones (<400px) */
@media (max-width: 399px) {

	.navbar.petro-application {
		min-height: 55px ;
		background-color: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	}
	
	.navbar-header .petro-image-title  {
		font-size: 1.3em;
		margin-left: 0em;
		padding: 0;
	}
	
	.petro-background-image {
		min-height: 70px;
	}
	
	
	.petro-search-form {
		padding: 1em 0 0;
		border-color: 1px solid #000;
	}

	.petro-search-field {
		height:28px;
		margin-top: 0;
	}

	.petro-search-button {
		/*height: 2.0em;*/
		width: 3.2em;
		/*top: -28px;*/
	}*/

	h3, .h3 {
		font-size: 20px;
	}

	.panel-footer.menu a {
		float: left;
	}

	.petro-app {
		/*width: 102px;*/
		height: 164px;
		padding-top: 0;
		box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	}

	.petro-app  .petro-app-rating {
		display: none;
	}

	.petro-app-buttons {
		height: 40px;
		line-height: 35px;
		font-size: 1.0em;
	}

	.petro-app .limit-fade {
		bottom: 40px;
	}
	
	.panel-heading.petro-box-title{
		margin-bottom: 5px;
	}

	.petro-app-title {

	}

	.petro-app .petro-app-text {
		height: 40px;
	}

	.petro-search-result h4{
		color:#428bca;
		font-size: 1.2em;
	}

}

/* Small devices
Tablets (<768px) */
@media  (min-width: 400px) and (max-width: 767px) {

	.navbar.petro-application {
		min-height: 55px ;
		background-color: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	}

	
	.navbar-header .petro-image-title {
		font-size: 1.5em;
		margin-top: 0.6em;
		margin-left: 0;
	}
	
	.petro-background-image {
		min-height: 40px;
	}

	.petro-search-form {
		padding: 1em 0 0;
	}

	.petro-search-field {
		height:35px;
		margin-top: 0;
	}

	.petro-search-button {
		/*height: 2.4em;*/
		width: 3.2em;
		/*top: -34px;*/
	}

	h3, .h3 {
		font-size: 20px;
	}

}

/* ATTENTION: NON-BOOTSTRAP 
All mobile devices using the "mobile" interface (ie. Collapsed Navbar) 
Tablets and Smartphones (< 768px)*/
@media  (max-width: 767px) {
	.petro-navbar {
		padding-bottom: 0;
	}

	.petro-navbar-background { /*retirar caso o topo volte a versão anterior*/
		background-color: #008542; 
		height: 50px;
	}

	.panel.petro-panel-box {
		background: #fff;
	}
	#show-application .panel.petro-panel-box {
		background: #fff;
	}

	.petro-app {
		float:none;
		display: inline-block;
		height: 65px;
		padding: 0.5em;
		margin: 5px 0;
	}

	.petro-app.wide {
		min-height: 120px;
		height: auto;
	}

	.petro-icon-crop {
		float: left;
		z-index: 2;
		position: absolute;
		height: 48px;
		line-height: 48px;
	}

	.petro-icon-image {
		max-width: 48px !important;
		max-height: 48px  !important;
		vertical-align: top !important;
	}

	.petro-app-text {
		float: left;
		text-align: left;
		height: auto !important;
		width: 100%;
		padding-left: 53px;
		position: absolute;
		left: 0;
		padding-right: 55px;
	}

	.petro-app-rating{
		text-align: left;
		margin: 3px 0 0 10px !important;
	}

	.petro-app-title{
		max-height: 36px;
		overflow: hidden;
	}

	.petro-app .limit-fade {
		width: 5em;
		bottom: 0px;
		right: 55px;
		height: 1.2em;
	}

	.wide .petro-app-text {
		float: none;
		max-height: 80px;
	}

	.petro-app-buttons {
		display: none;
	}

	.petro-app-mobile-launch {
		float: right;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 55px;
		max-width: 55px;
		color: #428bca;
		font-size: 1.1em;
	} 
	.petro-app-mobile-launch:hover {
		background: #eee;
	}

	.petro-mobile-launch-text {
		width: 100%;
		clear: both;
		display: block;
		margin: 5px 0;
		font-size: 1em; 
	}

	.petro-app-detail .petro-icon-image-wrapper {
		width: 110px !important;
		height: 80px  !important;
		float:left;
	}
}


/* Mobile 
/* Small devices
Tablets (>768px < 991px) */
@media  (min-width: 768px) and (max-width: 991px) {

	.navbar-header .petro-image-title {
		font-size: 1.2em;
	}
	
	.petro-background-image {
		min-height: 25px;
	}
	

	.petro-search-form {
		padding: 1em 0 0;
	}

	.petro-search-field {
		height:35px;
	}

	.petro-search-button {
		/*height: 2.4em;*/
		width: 3.2em;
		/*top: -34px;*/
	}

	h3, .h3 {
		font-size: 20px;
	}
	.petro-page-content,.petro-application{
		/*max-width: 732px;*/
	}


	.petro-search-box {
		width: 21.5em;
	}

	.petro-navbar {
		padding-bottom: 0;
	}
}

/* Medium devices
Desktops (>992px < 1199px)) */
@media  (min-width: 992px) and (max-width: 1199px) {
	.navbar-header .petro-image-title {
		font-size: 1.68em;
	}

	.navbar-header.col-md-7 {
		width: 57.2%;
	}
	
	.petro-background-image {
		min-height: 101px;
	}
	
	.petro-search-form {
		padding: 1em 0 0;
	}

	.petro-page-content,.petro-application{
		/*max-width: 878px;*/
	}

	.petro-search-box {
		width: 28.5em;
	}

}

/* Large devices
Desktops (>1200px) */
@media (min-width: 1200px) {
	.petro-search-box  {
		width: 35em;
	}
}

/* > 399 and < 992px */
@media  (min-width: 400px) and (max-width: 991px) {

}