.rate-star-on{
    background: url(../images/star.gif) no-repeat 0 -24px; 
    display:inline-block; 
    height:12px; 
    width: 17px; 
}

.rate-star-off{
    background: url(../images/star.gif) no-repeat 0 0; 
    display:inline-block; 
    height:12px; 
    width: 17px;
    line-height: 1em;
}

.rate-star-off a{
    display:inline-block; 
    height:12px; 
    background: url(../images/star.gif) no-repeat 0 -24px;
}


form.rating {
    padding: 1em;
    border: 1px solid #ccc;
}

.rating {
    cursor: pointer;
    clear: both;
    display: block;
}

.rating:after {
    content: '.';
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

div.star {
    float: left;
    width: 17px;
    height: 12px;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer;
}

div.star, span.star, div.star a, span.star a {
    background: url(../images/star.gif) no-repeat 0 0px;
}

div.star a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0px;
}

div.rating div.on a {
    background-position: 0 -12px;
}

div.rating div.hover a,
    div.rating div a:hover {
    background-position: 0 -24px;
}

div#notifytext {
    margin-top: 5px;
    font-size: .8em;
    clear: both;
}

#ratingdiv {
    height: 12px;
}

.ratingDisplay td {
    padding: 0px;
    margin: 0px;
    border: none;
}

.ratingDisplay div.star {
    cursor: default;
    float:none;
}
.ratingDisplay div.on a {
    background-position: 0 -24px;
}


