<div class="modal fade" id="alertSuccessfullySubmittedApplicationNotFoundNotice" tabindex="-1" role="dialog" aria-labelledby="alertSuccessfullySubmittedReport" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header petro-modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title petro-modal-title">
				Aplicações Petrobras
			</h4>
	  	</div>	
	    <div class="modal-body petro-modal-body">
      		<p>
      			<ul class="alert petro-alert alert-success">
      				<li>Notificação enviada com sucesso.</li>
      			</ul>
			</p>
      	</div>
	    <div class="modal-footer petro-modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
