<div class="modal fade" id="modal-edit-version" tabindex="-1" role="dialog" aria-labelledby="edit-version" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header petro-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title petro-modal-title">Detalhes da versão</h4>
			</div>
			<div class="modal-body petro-modal-body">
		      	<div class="main-row petro-edit-app">
					<div class="row">
						<div ng-class="{'has-error': form.editVersionNumber.$invalid || editVersionNumberRequired}" class="fieldcontain">
							<div class="col-sm-6 form-group">	

									<input type="text" ng-model="currentVersionToEdit.number" ng-change="cleanVersionMsg()" class="form-control" ng-maxlength="20" maxlength="20" name="editVersionNumber">

								<span class="help-block" ng-show="form.editVersionNumber.$error.maxlength">Tamanho máximo de caracteres é 20</span>
								<span class="help-block" ng-show="editVersionNumberRequired">Número da versão é obrigatório</span>
							</div>
						</div>
			
						<!--DATA VERSÃO-->		
						<div ng-class="{'has-error': form.editVersionDate.$invalid || editVersionDateRequired}" class="fieldcontain">	
							<div class="col-sm-6 form-group">
								<div class="input-append date">
									<input ng-model="currentVersionToEdit.date" name="editVersionDate" ng-change="cleanVersionMsg()" type="text" class="form-control" ljap-date-picker>
								</div>
								<span class="help-block" ng-show="editVersionDateRequired">Data da versão é obrigatório</span>
							</div>
						</div>	
				</div>

				<!--DESCRIÇÃO VERSÃO-->		
				<div ng-class="{'has-error': form.editVersionDescription.$invalid}" class="row">			
					<div class="col-sm-12 form-group">

							<div class="input-group petro-textarea">
								<textarea class="form-control" ng-model="currentVersionToEdit.description" name="editVersionDescription" ng-maxlength="4000" maxlength="4000" hack-max-length="400"  rows="5" escapeHtml="false"></textarea>
							</div>
							<span class="input-group-addon petro-addon-help">
											
							</span>

					    <span class="help-block" ng-show="form.editVersionDescription.$error.maxlength">Tamanho máximo de caracteres é 4000</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer petro-modal-footer">
		      	<button data-dismiss="modal" id="button-cancel-edit-version" type="button" class="btn btn-default petro-my-options">cancelar</button> 
	      		<button id="button-ok-edit-version" data-loading-text="ok" type="button" class="btn btn-success" ng-click="okEditVersion()">confirmar</button>
		</div>
		</div>
	</div>
</div>