<div ng-controller="searchAppCtrl" class="modal fade" id="application-not-found" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
			<div class="modal-header petro-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="myModalLabel" class="modal-title petro-modal-title">
					<!--<g:message code="user.application.button.addreview.label" default="Review and comment" />-->Fale conosco
				</h4>
			</div>
			<div class="modal-body petro-modal-body">
				<form name="addApplicationNotFoundNoticeForm" class="col-md-12" role="form">
					<p class="text-right">
						<span class="petro-required-indicator">* campos obrigatórios</span>
					</p>
					
					<p>
						<ul class="alert petro-alert alert-info petro-alert-info" role="status">
							<li>
								<!--<g:message code="application.reviews.comment.edit.warning" default="Ao editar sua avaliação as opiniões sobre a mesma serão descartadas."/>-->Use o formulário abaixo para informar aplicações que você não encontrou. Erros devem ser informados através de chamado via web881 ou Lig-TIC. 
							</li>
						</ul>
					</p>
					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon petro-addon">
								<span class="petro-required-indicator">&nbsp;&nbsp;</span>
		  					</span>
							<input name="url" placeholder="Endereço da aplicação. " ng-model="applicationNotFoundNotice.url" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon petro-addon">
								<span class="petro-required-indicator">*</span>
		  					</span>
							<textarea name="description" placeholder="Por favor, informe aqui o que souber sobre a aplicação não encontrada: nome, área cliente, centro de Agilidade, código no catálogo de aplicações etc. " ng-model="applicationNotFoundNotice.description" rows="8" class="form-control" required></textarea>
						</div>					
					</div>

				</form>
			</div>
			<div class="modal-footer petro-modal-footer">
				<button type="button" class="btn btn-default petro-my-options" data-dismiss="modal"><!--<g:message code="application.reviews.button.cancelar.label" default="cancelar"/>-->cancelar</button>
				<button type="button" class="btn btn-success" ng-click="save()" id="button-app-not-found" data-loading-text="Enviar" ng-disabled="addApplicationNotFoundNoticeForm.$invalid || disableButton"><!--<g:message code="application.reviews.button.save.label" default="avaliar"/>-->Enviar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->